
h1,h2,h3{
text-align: center;
color: rgb(3, 63, 1);
}

nav{
    height: 100%;
display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    gap: 30px;
 
}
article a:hover{
    color: #ff0505;
}
body{

    background-color: rgb(185, 199, 248);
}

p{
    text-align: center;
    color: #10110a;
}

div{
padding: 10px;
    gap: 40px;
    text-align: center;
    
}

ul {

text-align: center;
list-style-position: inside;

}

